@import "../App.scss";

.container_listar_pacientes {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  .div_listagem {
    width: 100%;
    height: 100%;

    .header_container {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;

      input,
      button {
        padding: 10px 15px;
        outline: none;
        border: 1px solid $border-color;
        border-radius: 5px;
        background-color: white;
      }

      input:hover,
      input:focus {
        transition: 0.3s;
        border-color: $color-primary;
      }

      button {
        cursor: pointer;
        border: 1px solid $color-primary;
      }

      .btn_download_csv {
        color: $color-primary;
      }

      input {
        width: 50%;
        color: $gray-text;
        font-size: 17px;
      }

      input::placeholder {
        color: $border-color;
      }

      .btn_search {
        padding: 0px 10px;
        background-color: $color-primary;
        color: white;
      }
    }

    .pacientes_list {
      overflow-x: auto;

      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        font-size: 15px;

        .th_buttons {
          display: flex;
          gap: 20px;
        }

        thead {
          font-size: 14px;
          th:first-child {
            border-top-left-radius: 5px;
            border-left: 1px solid $border-color;
          }
          th:last-child {
            border-top-right-radius: 5px;
            border-right: 1px solid $border-color;
          }

          th {
            border-top: 1px solid $border-color;
          }
        }

        tbody {
          tr:last-child {
            td:first-child {
              border-bottom-left-radius: 5px;
            }
            td:last-child {
              border-bottom-right-radius: 5px;
            }
          }
        }

        th,
        td {
          padding: 10px;
          text-align: left;
          border-bottom: 1px solid $border-color;
        }

        td:first-child {
          border-left: 1px solid $border-color;
        }

        td:last-child {
          border-right: 1px solid $border-color;
        }

        th {
          font-size: 16px;
          font-style: italic;
          background-color: $color-primary;
          color: white;
          font-weight: 400;
        }

        .view_details {
          padding: 6px;
          border: 1px solid $color-primary;
          color: $color-primary;
          background-color: white;
          border-radius: 3px;
          transition: 0.3s;
          cursor: pointer;
          font-size: 15px;

          &:hover {
            background-color: $color-primary;
            color: white;
          }
        }

        .anamnese {
          padding: 6px;
          border: 1px solid $color-primary;
          color: white;
          background-color: $color-primary;
          border-radius: 3px;
          transition: 0.3s;
          cursor: pointer;
          font-size: 15px;

          &:hover {
            background-color: white;
            color: $color-primary;
          }
        }
      }
    }
  }
}
