@import '../App.scss';

.container_cadastro_paciente {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $gray-secondary;

    .container_button_form {
        display: flex;
        flex-direction: column;
        padding: 30px;
        border-radius: 8px;
        max-width: 800px;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .title {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 20px;
      
            h2 {
                font-weight: 600;
                font-size: 24px;
                color: $color-primary;
                p {
                    font-size: 16px;
                }
            }
        }
    }
    
    .form {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px 0;
        
        input {
            height: 40px;
            outline: none;
            border: 1px solid $border-color;
            border-radius: 5px;
            flex: 1 1 300px;
            padding: 0 15px;
            font-size: 14px;
            color: $gray-text;
            transition: border 0.3s;

            &::placeholder {
                color: $gray-text;
                opacity: 0.6;
            }
        }

        input:focus {
            border: 1px solid $color-primary;
            box-shadow: 0 0 5px rgba(6, 96, 58, 0.3);
        }

    }

    @media (max-width: 700px) {
        .form {
            button {
                width: 100%;
                padding: 0;
                height: 40px;
            }
        }
    }
}