@import '../App.scss';

.input-container {
    position: relative;
    margin-bottom: 15px;

    input[type="date"] {
        width: 100%;
        padding: 10px 35px;
        border: 1px solid $border-color;
        border-radius: 3px;
        height: 45px;
        background-color: transparent;
        position: relative;
        z-index: 1;
    }
}

input:focus + .placeholder,
input:not(:placeholder-shown) + .placeholder {
    top: -5px;
    left: 3px;
    font-size: 15px;
    color: $color-primary;
}

.container_plano_tratamento {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px;

    .container_form {
        background: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        width: 100%;

        .title {
            text-align: center;
            margin-bottom: 30px;

            h2 {
                font-size: 28px;
                color: #333;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input, textarea {
                padding: 0px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 15+px;
                outline: none;
            }

            input {
                height: 45px;
            }

            textarea {
                min-height: 150px; 
                resize: horizontal; 
            }

            input:focus,
            textarea:focus {
                border-color: #1abd5b;
            }

            .btn {
                padding: 15px;
                background-color: #1abd5b;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 18px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #139a4d;
                }
            }
        }
    }
}
